# Xcode
*.xcworkspace
xcuserdata/
DerivedData/
*.xcuserstate
*.xcbkptlist

# Build outputs
build/
*.app
*.dSYM.zip
*.dSYM

# Generated project
Moler.xcodeproj/

# Swift
.swiftpm/

# macOS
.DS_Store

# Profiling data
*.profraw

# Large media
demo.gif
